

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: orangered;
    color: white;
    font-family: monospace;
}

.theme {
    background: black;
    color: white;
}

p {
    cursor: pointer;
}